<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="club.borderlands.dao.AdminMapper">
    <resultMap id="AdminMapper" type="club.borderlands.dao.AdminMapper">
        <result column="id" property="id"/>
        <result column="admin" property="admin"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="address_id" property="addressId"/>
    </resultMap>
    <select id="getUser" resultMap="AdminMapper">
        SELECT * FROM admin WHERE admin=#{admin} AND password=#{password};
    </select>
    <insert id="insertAdmin">
        INSERT INTO admin(admin,password,name,address_id) VALUES (#{admin},#{password},#{name},#{addressId});
    </insert>
</mapper>